@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*,html{
    font-family: 'Roboto', sans-serif;
}

#partitionInfoDetails table{
    width : 400px;
    text-align: center;
    border:none;
    border-collapse: collapse;
}
#partitionInfoDetails table tr, #partitionInfoDetails table td, #partitionInfoDetails table th{
    border: 1px solid black;
    padding : 5px 0;
}
#nodeInfoDetails table{
    width : 400px;
    text-align: center;
    border:none;
    border-collapse: collapse;
}
#nodeInfoDetails table tr, #nodeInfoDetails table td, #nodeInfoDetails table th{
    border: 1px solid black;
    padding : 5px 0;
}


.generalInfo{
    display:flex;
    justify-content: space-around;
}