<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ressource management</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/showInfo.js') }}"></script>
    <script></script>
</head>

<body>
    <h1>Hello <strong>{{ session["username"] }}</strong>, Welcome to UM6P's Cluster !</h1>
    <section class="generalInfo">
        <div class="partition">
            <label for="partitionSelect">Select Partition:</label>
            <select id="partitionSelect" onchange="showInfo('partitionSelect', 'partitionInfo')">
                <option value="none" selected>
                    Select a partition
                </option>
                <!-- Options will be dynamically added using JavaScript -->
            </select>
            
            <div id="partitionInfo">
                <h2>Partition Information</h2>
                <pre id="partitionInfoDetails"></pre>
            </div>
            
            </div>
        
        
        </div>
        <div class="nodes">
            <label for="nodeSelect">Select node:</label>
            <select id="nodeSelect" onchange="showInfo('nodeSelect', 'nodeInfo')">
                <option value="none" selected>
                    Select a node
                </option>
                <!-- Options will be dynamically added using JavaScript -->
            </select>
        
            <div id="nodeInfo">
                <h2>node Information</h2>
                <pre id="nodeInfoDetails"></pre>
            </div>
        
        
        </div>
    </section>

</body>

</html>
